---
layout: blog-layout
---

<article class="post">
    <header>
      <div class="title">
        <h3><a href="#">{{ page.title }}</a></h3>
      </div>
      <div class="meta">
        <time class="published" datetime=datetime='{{ post.date | date: "%Y-%B-%e" }}'>{{ post.date | date: "%B %e, %Y" }}</time>
        <!--<a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a>-->
      </div>
    </header>

   {{ content }}
      
   {% include disqus.html %}
  </article>